{{ 'about-us.css' | asset_url | stylesheet_tag }}
<div class="about-us-container">
    <div class="about-us-trapezoid"></div>
    <div class="about-us-wrapper">
        <div class="image-section">
            {% if section.settings.about_us_image != blank %}
                <img src="{{ section.settings.about_us_image | image_url }}" width="540" height="auto" loading="lazy" alt="Header Logo">
              {% else %}
                <img src="{{ "two-section.jpeg" | asset_url }}" width="540" height="auto" loading="lazy" alt="Header Logo" >
              {% endif %}
        </div>
    
        <!-- Article Text Section -->
        <div class="article-text-section">
            <h4>{{ section.settings.about_us_title }}</h4>
            <p>{{ section.settings.about_us_paragraph }}</p>
        </div>
    </div>

    <!-- People Review Section -->
    <section class="people-review-section">
        <h4>What People Say About Us</h4>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="review-card">
                        <div class="swiper-button-prev"></div> <!-- Prev Arrow Inside Card -->
                        <div class="test-statement">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta perspiciatistem. Eos cumque aliquam libero dicta, incidunt magni fugiat?</p>
                            <h2 class="text-reviews">John Doe</h2>
                        </div>
                        <div class="swiper-button-next"></div> <!-- Next Arrow Inside Card -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="review-card">
                        <div class="swiper-button-prev"></div> <!-- Prev Arrow Inside Card -->
                        <div class="test-statement">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem eaque, totam consectetur modi, quidem voluptate non nobis atque neque, obcaecati similique suscipit.</p>
                            <h2 class="text-reviews">John Doe</h2>
                        </div>
                        <div class="swiper-button-next"></div> <!-- Next Arrow Inside Card -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="review-card">
                        <div class="swiper-button-prev"></div> <!-- Prev Arrow Inside Card -->
                        <div class="test-statement">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ipsa sed, fuga inventore delectus laboriosam. Tempora, possimus, architecto nisi eum quia dolorem animi</p>
                            <h2  class="text-reviews">John Doe</h2>
                        </div>
                        <div class="swiper-button-next"></div> <!-- Next Arrow Inside Card -->
                    </div>
                </div>
                <!-- Add more review cards as needed -->
            </div>
            <!-- Swiper Pagination Dots -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        // Initialize Swiper
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 'auto',
            spaceBetween: 30,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>

    {% schema %}
    {
  "name": "About Us Section Settings",
  "settings": [
    {
      "type": "image_picker",
      "id": "about_us_image",
      "label": "About Us Image",
      "info": "Change photo"
    },
    {
      "type": "text",
      "id": "about_us_title",
      "label": "About Us Title",
      "default": "ABOUT MIRALOU"
    },
    {
      "type": "text",
      "id": "about_us_paragraph",
      "label": "About Us Paragraph",
      "default": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio nam voluptatum quaerat molestias unde atque, porro reiciendis ullam quos."
    }
  ]
}
    {% endschema %}

<style>
   .swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 16px !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
</style>