{{ 'featured-collection.css' | asset_url | stylesheet_tag }}
<div>
  <div class="feature-container">
    <div class="trapezoid"></div>
    <div class="content">
      <div class="text-groups">
        <h3>{{ section.settings.section_title }}</h3>
        <p>{{ section.settings.section_subtitle }}</p>
      </div>
      <div class="img-container">
        <div class="feature-img">
          <div class="img-text">
            <h4 class="feature-title">WOMEN</h4>
            <h6 class="feature-paragraph">115 PRODUCTS</h6>
          </div>
          {% if section.settings.image_1 != blank %}
            <img src="{{ section.settings.image_1 |  image_url }}" width="300" height="370" alt="Image one" >
          {% else %}
          <img src="{{ "img-1.png" | asset_url }}" width="300" height="370" loading="lazy" alt="Image one">  
          {% endif %}
        </div>
        <div class="feature-img">
          <div class="img-text">
            <h4 class="feature-title">{{ collection.title }}</h4>
            <h6 class="feature-paragraph">115 PRODUCTS</h6>
          </div>
          {% if section.settings.image_1 != blank %}
            <img src="{{ section.settings.image_2 |  image_url }}" width="300" height="370" alt="Image one" >
          {% else %}
          <img src="{{ "img-2.png" | asset_url }}" width="300" height="370" loading="lazy" alt="Image two">
          {% endif %}
        </div>
        <div class="feature-img">
          <div class="img-text">
            <h4 class="feature-title">KIDS</h4>
            <h6 class="feature-paragraph">115 PRODUCTS</h6>
          </div>
          {% if section.settings.image_1 != blank %}
            <img src="{{ section.settings.image_3 |  image_url }}" width="300" height="370" alt="Image one" >
          {% else %}
          <img src="{{ "img-3.png" | asset_url }}" width="300" height="370" loading="lazy" alt="Image three">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center my-8">
  <div class="featured-title">
    <h2>OUR PRODUCTS</h2>
  </div>
    <div class="product-grid">
        {% for product in section.settings.featured_collection.products limit: section.settings.number_of_products_to_show %}
          {% render 'product-card', product: product %}
        {% endfor %}
    </div>
    <div class="load-btn">
        <button>
          <a href="{{ routes.all_products_collection_url }}">Show More</a>
        </button>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "SHOP BY CATEGORY"
    },
    {
      "type":"collection",
      "id": "featured_collection",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "section_subtitle",
      "label": "Section Subtitle",
      "default": "Pick a category"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1",
      "info": "Select the first image"
    },
    {
      "type": "text",
      "id": "image_1_title",
      "label": "Image 1 Title",
      "default": "WOMEN"
    },
    {
      "type": "text",
      "id": "image_1_products",
      "label": "Image 1 Products",
      "default": "115 PRODUCTS"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2",
      "info": "Select the second image"
    },
    {
      "type": "text",
      "id": "image_2_title",
      "label": "Image 2 Title",
      "default": "MEN"
    },
    {
      "type": "text",
      "id": "image_2_products",
      "label": "Image 2 Products",
      "default": "90 PRODUCTS"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 3",
      "info": "Select the third image"
    },
    {
      "type": "text",
      "id": "image_3_title",
      "label": "Image 3 Title",
      "default": "KIDS"
    },
    {
      "type": "text",
      "id": "image_3_products",
      "label": "Image 3 Products",
      "default": "75 PRODUCTS"
    },
    {
      "type": "range",
      "id": "number_of_products_to_show",
      "min":4,
      "max":12,
      "default":8,
      "label": "Number of Products to render"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}

{% endschema %}

