{{ 'header.css' | asset_url | stylesheet_tag }}
{% assign main_menu_linklist = linklists[section.settings.menu].links %}
<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        {% if section.settings.header_logo != blank %}
          <img src="{{ section.settings.header_logo | image_url }}" width="106" height="24" loading="lazy" alt="Header Logo">
        {% else %}
          <img src="{{ "Miralou.png" | asset_url }}" width="106" height="24" loading="lazy" alt="Header Logo">
        {% endif %}
      </a>
    </div>
    <nav class="main-nav">
     
      {% for link in main_menu_linklist %}
        {% if link.links != blank %}
          <ul class="relative-click">
            <li class="inline-flex">
              <a href="{{ link.url }}">{{ link.title }}</a>
              {% render 'icon-chevron-down' %}
            </li>
          </ul>
        {% else %}
          <ul>
            <li><a href="{{ link.url }}" {% if link.url == request.path %}class="active"{% endif %}>{{ link.title }}</a></li>
          </ul>
        {% endif %}
      {% endfor %}
    </nav>
    <div class="icon-items">
      <a href="#">
        {% render 'icon-search-item' %}
      </a>
      <a href="Login">
        {% render 'icon-heart' %}
      </a>
      <a href="" id="cart-icon" class="cart-icon">
        {% render 'icon-cart-item' %}
      </a>

    </div>
  </div>
</header>


{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "image_picker",
            "id": "header_logo",
            "label": "Header logo",
            "info": "Change header logo supported png"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Header Menu",
            "default": "main-menu"
        },
        {
            "type": "text",
            "id": "main_heading",
            "label": "Main Heading",
            "default": "Your Main Heading" // Add a default main heading here
        }
    ],
    "presets": []
}
{% endschema %}
