{% assign main_menu_linklist = linklists[section.settings.menu].links %}
<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
      {% if section.settings.header_logo != blank %}
        <img src="{{ section.settings.header_logo | image_url }}" width="106" height="24" loading="lazy" alt="Header Logo">
      {% else %}
        <img src="{{ "Miralou.png" | asset_url }}" width="106" height="24" loading="lazy" alt="Header Logo" >
      {% endif %}
      </a>
    </div>
    <nav x-data="{ open: false }" class="main-nav">
        {% for link in main_menu_linklist %}
            {% if link.links != blank %}
                <ul class="relative-click">
                    <li x-on:click="open = !open" class="inline-flex">
                      <a href="{{ link.url }}">{{ link.title }}</a>
                       {% render 'icon-chevron-down' %}
                    </li>
                    <div x-show="open" @click.away="open = false" class="custom-dropdown">
                      <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
                       <div class="dropdown-content">
                           <!-- CREATE THE SUBLINK -->
                           <a class="sublink">Sublink 1</a>
                       </div>
                    </div>
                  </div>
                </ul>
            {% else %}
                <ul>
                  <li><a href="{{ link.url }}" {% if link.url == request.path %}class="active"{% endif %}>{{ link.title }}</a></li>
                </ul>
            {% endif %}
        {% endfor %}
    </nav>
    <div class="icon-items">
     <a href="">
        {% render 'icon-search-item' %}
     </a>
     <a href="Login">
        {% render 'icon-heart' %}
     </a>
     <a href="{{ routes.cart_url }}">
        {% render 'icon-cart-item' %}
     </a>
    </div>
  </div>
</header>




<style>
  .header {
    background: {{ section.settings.background }}
    ;
    color: {{ section.settings.chevron_color }}
    ;
  }
</style>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "image_picker",
            "id": "header_logo",
            "label": "Header logo",
            "info": "Change header logo supported png"
        },
        {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "chevron_color",
      "label": "Chevron color",
      "default": "#000000"
    },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Header Menu",
            "default": "main-menu"
        }
    ],
    "presets": []
}
{% endschema %}
